[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
faust-streaming = "*"
scikit-learn = "*"
joblib = "*"
confluent-kafka = "*"
python-dotenv = "*"
pandas = "*"
aiokafka = "==0.10.0"

[dev-packages]

[requires]
python_version = "3.10"
